.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: -10px;
}

.mainLogo {
  width: 20%;
  height: auto;
  margin-top: 20px;
  margin-left: 60px;
}

.image {
  margin: 100 px;
}

.navContainer {
  width: 100%;
}
