.title {
  color: #1797d5;
  font-family: Helvetica;
  margin-left: 25px;
  font-size: 30px;
}

.formContainer {
  width: 90%;
  margin: auto;
  font-family: Arial, Helvetica, sans-serif;
  color: #006f81;
  font-size: 20px;
}

.form {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: auto;
  margin-bottom: 20px;
}

.label {
  font-size: 16px;
}

.input {
  height: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  border-color: #1797d5;
  border: none;
}

.messageArea {
  height: 40px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  border-color: #1797d5;
}

.contactContainer {
  margin: auto;
  background-color: #a1c7e0;
  width: 100%;
  display: flex;
  flex-direction: row;
}

.sendButton {
  background-color: #fff;
  width: 20%;
  margin: auto;
  height: 40px;
  border-radius: 5px;
  border: none;
  font-family: Arial, Helvetica, sans-serif;
  color: #1797d5;
  font-weight: 600;
  margin-top: 10px;
  cursor: pointer;
}

.logoContainer {
  background-color: #006f81;
}

.logo {
  width: 400px;
  height: auto;
  margin-left: 200px;
  margin-right: 200px;
  margin-top: 200px;
}
