.title {
  color: #1797d5;
  font-family: Helvetica;
  margin-left: 19%;
  font-size: 33px;
  font-weight: 500;
}

.faqContainer {
  font-family: Helvetica;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-left: 18%;
  margin-right: 18%;
  padding-top: 10px;
  padding-bottom: 5px;
}

.faqItem {
  width: 30%;
}

.question {
  font-size: 18px;
  font-weight: 600;
  color: #f39453;
}

.answer {
  font-size: 16px;
  font-weight: 200;
  color: #a1c7e0;
}

@media (max-width: 1200px) {
  .title {
    font-size: 28px;
  }

  .question {
    font-size: 12px;
  }

  .answer {
    font-size: 11px;
  }
}

@media (max-width: 700px) {
  .title {
    font-size: 22px;
  }
}
