.footerContainer {
  width: 100%;
  background-color: #006f81;
  height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.footerText {
  font-family: Helvetica;
  color: #fff;
  font-size: 12px;
  font-weight: 400;
}

.footerLogo {
  width: auto;
  height: auto;
}

.redesImage {
  width: auto;
  height: auto;
}
