.proyectContainer {
  width: 100%;
}

.title {
  color: #1797d5;
  font-family: Helvetica;
  margin-left: 19%;
  font-size: 33px;
  font-weight: 500;
}

.titleContainer {
  display: flex;
}

.misionContainer {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}

.solarIcon {
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 30px;
  padding-bottom: 30px;
}

.textContainer {
  padding-top: 30px;
  display: flex;
  width: 62%;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
  box-shadow: 0px 4px 4px 4px rgba(0, 0, 0, 0.1);
  border-radius: 25px;
}

.subtitle {
  width: 60%;
  color: #1797d5;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 25;
  margin: auto;
  font-weight: 400;
}

.professionalCard {
  width: 20%;
  justify-content: center;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  padding: 30px;
  border-radius: 25px;
  box-shadow: 0px 4px 4px 4px rgba(0, 0, 0, 0.1);
}

.info {
  text-align: justify;
  color: #006f81;
  font-size: 14px;
}

.professionalImage {
  border-radius: 80px;
}

.name {
  color: #1797d5;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 25px;
  font-weight: 400;
}

.professionalContainer {
  margin-left: 9%;
  margin-right: 9%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
