.proyectContainer {
  width: 100%;
}

.title {
  color: #1797d5;
  font-family: Helvetica;
  margin-left: 19%;
  font-size: 33px;
  font-weight: 500;
}

.titleContainer {
  display: flex;
}

.misionContainer {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}

.solarIcon {
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 30px;
  padding-bottom: 30px;
}

.textContainer {
  padding-top: 30px;
  display: flex;
  width: 62%;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
  box-shadow: 0px 2px 4px 2px rgba(0, 0, 0, 0.1);
  border-radius: 25px;
  background-color: #fff;
}

.subtitle {
  width: 60%;
  color: #f39453;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 25px;
  margin: auto;
  font-weight: 400;
}

.professionalCard {
  width: 20%;
  justify-content: center;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  padding: 30px;
  border-radius: 25px;
  background-color: #fff;
}

.info {
  text-align: left;
  color: #a1c7e0;
  font-size: 12px;
  font-weight: 400;
  height: 90px;
}

.professionalImage {
  border-radius: 5px;
  box-shadow: 0px 2px 4px 2px rgba(0, 0, 0, 0.1);
}

.name {
  color: #f39453;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: 200;
  text-align: left;
}

.position {
  text-align: left;
  color: #1797d5;
  font-size: 14px;
}

.professionalContainer {
  margin-left: 9%;
  margin-right: 9%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: auto;
  box-shadow: 0px 2px 4px 2px rgba(0, 0, 0, 0.1);
  border-radius: 25px;
}

.containerContainer {
  margin-left: 19%;
  margin-right: 19%;
}

.netContact {
  display: flex;
  justify-content: left;
}

.netIcon {
  padding-right: 10px;
  cursor: pointer;
}
