.title {
  color: #1797d5;
  font-family: Helvetica;
  margin-left: 19%;
  font-size: 33px;
  font-weight: 500;
  margin-top: 60px;
}

.clientsList {
  width: 95%;
  margin: auto;
}

.logoItem {
  margin: auto;
  width: 70%;
  height: auto;
  padding-left: 10%;

  cursor: pointer;
}

.containerContainer {
  margin-bottom: 70px;
}

.carouselContainer {
  padding-top: 20px;
  border-radius: 25px;
  margin-left: 16%;
  margin-right: 16%;
}

.line {
  background-color: #f39453;
  margin: auto;
  width: 62%;
  height: 5px;
}

.line1 {
  background-color: #f39453;
  margin: auto;
  width: 62%;
  height: 5px;
}

@media (max-width: 1200px) {
  .title {
    font-size: 28px;
  }
}

@media (max-width: 700px) {
  .title {
    font-size: 22px;
  }
}
