.title {
  color: #1797d5;
  font-family: Helvetica;
  margin-left: 19%;
  font-size: 33px;
  font-weight: 500;
  margin-top: 60px;
}

.proyectCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 26%;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 0px 4px 4px 4px rgba(0, 0, 0, 0.1);
  border-radius: 25px;
}

.proyectCard:hover {
  opacity: 0.6;
  transform: scale(1.1);
  cursor: pointer;
}

.subtitle {
  font-family: Helvetica;
  font-size: 16px;
  color: #006f81;
}

.proyectsContainer {
  margin-left: 19%;
  margin-right: 19%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 20px;
}

.image {
  border-radius: 5px;
  width: 100%;
  height: auto;
}

.proyectDescription {
  font-family: Arial, Helvetica, sans-serif;
  color: #006f81;
  text-align: justify;
  width: 100%;
  font-size: 12px;
}
