.carouselContainer {
  margin-top: 10px;
  font-family: Helvetica;
  position: relative;
  z-index: 3;
  margin-top: 80px;
}

.textDescription {
  font-size: 30px;
}

.leyendContainer {
  position: relative;
  background-color: transparent;
  margin-top: -115px;
  margin-left: 55%;
  margin-right: 2%;
  display: flex;
  flex-direction: row;
  align-items: center;
  z-index: 2;
  padding-left: 100px;
  padding-bottom: 40px;
  border-radius: 10px;
  height: 100px;
  max-width: 40%;
}

.carouselLeyend {
  width: 600px;
  font-family: Helvetica;
  color: #fff;
  font-weight: 500;
  font-size: 28px;
  font-weight: 400;
  padding-right: 20px;
  text-align: center;
}

.leyendIcon {
  width: 18%;
  height: auto;
  margin: auto;

  padding-left: 10px;
  padding-bottom: 10px;
}

.carousel {
  width: 100%;
  height: auto;
}

.icon1 {
  width: 100%;
  height: auto;
  transition: transform 0.3s ease-in-out;
}

@media (max-width: 1550px) {
  .carouselLeyend {
    font-size: 15px;
    margin-top: 10%;
  }

  .leyendIcon {
    margin-top: 30px;
  }
}

@media (max-width: 1200px) {
  .carouselLeyend {
    font-size: 14px;
    margin-top: 18%;
  }

  .leyendIcon {
    margin-top: 50px;
  }
}

@media (max-width: 768px) {
  .leyendContainer {
    max-width: 50%;
    margin-left: 54%;
  }

  .carouselLeyend {
    font-size: 8px;
    margin-top: 38%;
  }

  .leyendIcon {
    margin-top: 75px;
  }
}

@media (max-width: 600px) {
  .leyendContainer {
    max-width: 50%;
    margin-left: 54%;
  }

  .carouselLeyend {
    font-size: 7px;
    margin-top: 55%;
  }

  .leyendIcon {
    margin-top: 83px;
  }
}
