.carouselContainer {
  margin-top: 10px;
  font-family: Helvetica;
  position: relative;
  z-index: 3;
  margin-top: 80px;
}

.textDescription {
  font-size: 30px;
}

.leyendContainer {
  position: relative;
  background-color: #fff;
  margin-top: -180px;
  margin-bottom: 10px;
  margin-left: 60%;
  margin-right: 4%;
  display: flex;
  flex-direction: row;
  align-items: center;
  z-index: 2;
  padding-left: 25px;
  border-radius: 10px;
  height: 100px;
  max-width: 40%;
}

.carouselLeyend {
  font-family: Helvetica;
  color: #1797d5;
  font-weight: 500;
  font-size: 20px;
  font-weight: 400;
}

.icon2 {
  width: 60px;
}

.leyendIcon {
  margin: auto;
  padding-top: 10px;
  padding-right: 20px;
  padding-left: 10px;
  padding-bottom: 10px;
}
